
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout.cshtml";
    ViewData["ActivePage"] = ManageNavPages.Dashboard;
    var current = @ViewBag.CurrentMonth;
    var month4 = @ViewBag.Month4;
}

<br />
<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            TỔNG DOANH THU
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"> @ViewBag.TotalShippedOrdersValue.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-sack-dollar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Doanh thu tháng @ViewBag.CurrentMonth
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @ViewBag.TotalRevenue.ToString("C", new System.Globalization.CultureInfo("vi-VN"))
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Đơn hàng mới
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.PendingOrdersCount </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-boxes-packing fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Số lượng sản phẩm
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.TotalProducts</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content Row -->
<!-- Area Chart -->
<div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Doanh thu 5 tháng gần nhất</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                     aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-area">
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/admin/vendor/chart.js/Chart.min.js"></script>
    <script>
        var month = '@current';
        $(document).ready(function () {
            var ctx = document.getElementById("lineChart").getContext('2d');
            console.log(@ViewBag.MonthlyRevenueData4);
            
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['@ViewBag.Pre4', '@ViewBag.Pre3', '@ViewBag.Pre2', '@ViewBag.Pre1', month],
                    datasets: [{
                        label: 'Monthly Data',
                        data: [@ViewBag.MonthlyRevenueData4, @ViewBag.MonthlyRevenueData3, @ViewBag.MonthlyRevenueData2, @ViewBag.MonthlyRevenueData1, @ViewBag.TotalRevenue],
                        backgroundColor: 'rgba(78, 115, 223, 0.05)',
                        borderColor: 'rgba(78, 115, 223, 1)',
                        pointBackgroundColor: "rgba(78, 115, 223, 1)",
                        pointBorderColor: "rgba(78, 115, 223, 1)",
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });

    </script>
}