@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.ViewEngines
@using ToyStoreMVC.Models;
@using ToyStoreMVC.Utility;
@using ToyStoreMVC.DataAccess.Repository.IRepository
@inject IUnitOfWork _unitOfWork

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> _UserManager

@if (SignInManager.IsSignedIn(User))
{
	var user = await _UserManager.GetUserAsync(User);
	var pendingOrdersCount = _unitOfWork.OrderHeader.GetAll().Count(o => o.OrderStatus == SD.StatusApproved);
	<!-- Topbar -->
	<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
		<!-- Sidebar Toggle (Topbar) -->
		<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
			<i class="fa fa-bars"></i>
		</button>

		<!-- Topbar Navbar -->
		@if (User.IsInRole(SD.Role_User_Indi) || User.IsInRole(SD.Role_User_Comp))
		{
		<ul class="navbar-nav mr-auto">
			<h3 class="text-primary">@ViewData["Title"]</h3>
		</ul>
		}
		
		<ul class="navbar-nav ml-auto">
			@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
			{
				<!-- Nav Item - Messages -->
				<li class="nav-item dropdown no-arrow mx-1">
					<a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-bell"></i>
						<!-- Counter - Messages -->
						
						@if (pendingOrdersCount > 0)
						{
							<span class="badge badge-danger badge-counter">@pendingOrdersCount</span>
						}
					</a>
					<!-- Dropdown - Messages -->
					<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
						<h6 class="dropdown-header">
							Các thông báo
						</h6>
						<a class="dropdown-item d-flex align-items-center" asp-route-status="inprocess" asp-area="Admin" asp-controller="Order" asp-action="index">
							<div class="dropdown-list-image mr-3">
								<img class="rounded-circle" src="~/assets/img/lotso1.png" alt="">
								<div class="status-indicator bg-success"></div>
							</div>
							<div class="font-weight-bold">
								<div class="text-truncate">Đơn hàng mới!</div>
								<div class="small" style="font-family: 'VL BoosterNextFYThin', sans-serif;">Hiện đang có <span style="color: red; font-weight:bold">@pendingOrdersCount</span> đơn hàng chưa duyệt.</div>
							</div>
						</a>
					</div>
				</li>
			}
			<div class="topbar-divider d-none d-sm-block"></div>

			<!-- Nav Item - User Information -->
			<li class="nav-item dropdown no-arrow">
				<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="mr-2 d-none d-lg-inline text-gray-600 small">@user.Name</span>
					<img class="img-profile rounded-circle bg-dark" src="~/assets/img/@user.ImageUrl">
				</a>
				<!-- Dropdown - User Information -->
				<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
					<a class="dropdown-item" asp-page="/Account/Manage/Index">
						<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
						Tài khoản
					</a>
					<div class="dropdown-divider"></div>

					<a class="dropdown-item"
					   asp-area="Identity" asp-page="/Account/Logout"
					   asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
						<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
						Đăng xuất
					</a>

				</div>
			</li>

		</ul>

	</nav>
}
<!-- End of Topbar -->
